<div class="container my-4">
	<h4>Upload Document</h4>
	<form [formGroup]="uploadForm" (ngSubmit)="uploadDoc()" class="mb-4">
		<div class="mb-2">
			<input type="file" (change)="onFileSelect($event)" required />
		</div>
		<input class="form-control mb-2" formControlName="name" placeholder="Document Name" />
		<input class="form-control mb-2" formControlName="description" placeholder="Description" />
		<button class="btn btn-primary" type="submit" [disabled]="uploading()">Upload</button>
	</form>

	<h4>Documents</h4>
	<ul class="list-group">
		<li *ngFor="let doc of documents()" class="list-group-item d-flex justify-content-between align-items-center">
			<div>
				<strong>{{ doc.name }}</strong>
				<small class="text-muted">({{ doc.filename }})</small><br />
				Indexed:
				<span [class.text-success]="doc.isIndexed" [class.text-danger]="!doc.isIndexed">
					{{ doc.isIndexed }}
				</span>
			</div>
			<div>
				<ng-container *ngIf="doc.isIndexed; else indexBtn">
					<input type="checkbox" class="form-check-input me-2" [value]="doc.id"
						(change)="toggleSelect(doc.id, $event)" />
				</ng-container>
				<ng-template #indexBtn>
					<button class="btn btn-warning btn-sm" (click)="indexDoc(doc.id)"
						[disabled]="indexingIds.has(doc.id)">Index</button>
				</ng-template>
			</div>
		</li>
	</ul>
</div>