.nav-link:hover,
.nav-link:focus,
.nav-link:active {
	color: rgb(255, 255, 255) !important;
	background-color: transparent !important;
	text-decoration: none !important;
	box-shadow: none !important;
	outline: none !important;
}

.nav-link {
	color: rgba(255, 255, 255, 0.63) !important;
	background-color: transparent !important;
	text-decoration: none !important;
	box-shadow: none !important;
	outline: none !important;
}